/* font-family: 'Slabo 27px', serif; */
/* font-family: 'Crimson Pro', serif; */


body {
    margin-top: 20px;;
    background-color: #7a7a7a;
    background-image: url(../images/header.jpg);
}

button {
    height: 75px;
    width: 150px;
    font-size: 25px;
    color: black;
    font-weight: 50px;
    font-family: 'Slabo 27px', serif; 
    opacity:1;
    transition: 0.3s;
}

button:active {
    background-color: darkcyan;    
    border: 2px;
    border-color: seagreen;
}

button:hover {opacity: 0.6}

.selected-option { 
    opacity: 0.6;
}



div {
    text-align: center;
}

h1{
    font-family: 'Slabo 27px', serif; 
}

h2{
    font-family: 'Slabo 27px', serif; 
}

li{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-decoration: none;
    font-family: 'Crimson Pro', serif; 
}

p{
    width: 700px;
    font-family: 'Crimson Pro', serif;
    font-size: 17px;
}

.amiableOutput{
    background-color: goldenrod;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
}

.Answer1 {
    background-color: goldenrod;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
}

.Answer2 {
    background-color: green;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
}

.Answer3 {
    background-color: royalblue;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
}

.Answer4 {
    background-color: darkred ;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
}

.analyticalOutput{
    background-color: green;
    font-family: 'Crimson Pro', serif;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.driverOutput{
    background-color: royalblue;
    font-family: 'Crimson Pro', serif;
}

.expressiveOutput{
    background-color: darkred;
    font-family: 'Crimson Pro', serif;
}

.questionbody{
        background-image: url(../images/questionnairebg.jpg);
    background-repeat: repeat;
}

#Questions {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Question1 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#Question2 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question3 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question4 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question5 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question6 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question7 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question8 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question9 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question10 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question11 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question12 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question13 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question14 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question15 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question16 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question17 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question18 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question19 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Question20 {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
